* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background: image-url("blacksea.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'League Gothic';
    font-size: 2rem;
}

a {
    color: #B2C8ED;
    text-decoration: none;
}

h1 {
    margin: 0;
    font-family: 'Junction';
    font-size: 6rem;
}

h2 {
    font-family: 'Abraham';
    text-transform: uppercase;
    font-size: 3rem;
    border-bottom: 1px solid black;
}

/* Icon formatting */
.down {
    fill: #fff;
}

.down:hover {
    fill: #B2C8ED;
}

.commute {
    position: absolute;
    bottom: 0;
}

.bike {
    transform: skewY(4deg) rotate(-4deg);
    right: 50%;
}

.walk {
    transform: rotateY(180deg) skewY(-4deg) rotate(4deg);
    right: 50%;    
}

.train {
    transform: rotateY(180deg) skewY(4deg) rotate(-4deg);
    left: 50%;    
}

/* Sections */
header {
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.filler {
    background: #fff;
    height: 200px;
    margin-bottom: -100px;
}

.intro {
    background: #fff;
    padding-bottom: 200px;
    margin-bottom: -100px;
    position: relative;
    transform: skewY(-4deg);
    z-index: 99;
}

.morning {
    position: relative;
    background: #B2C8ED;    
    transform: skewY(4deg);
    padding: 200px 0;
    margin-bottom: -100px;
    z-index: 98;
}

.school {
    position: relative;
    padding: 200px 0;
    margin-bottom: -100px;
    transform: skewY(-4deg);
    background: #fff;
    z-index: 97;
}

.evening {
    position: relative;
    padding-top: 200px;
    padding-bottom: 100px;
    background: #B2C8ED;    
}

footer {
    text-align: center;
    p {
	font-family: 'Abraham';
	border-width: 0;
	padding: 0;
	margin: 0;
	font-size: 1.5rem;
	color: #fff;
    }
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.negunskew {
    transform: skewY(-4deg);    
}

.unskew {
    transform: skewY(4deg);
}

