* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background: image-url("shoes.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Droid Serif';
    font-size: 1.5rem;
}

section {
    overflow: hidden;
}

a {
    color: #B2C8ED;
    text-decoration: none;
}

h1 {
    margin: 0;
    font-family: 'Junction';
    font-size: 6rem;
}

h2 {
    font-family: 'Abraham';
    text-transform: uppercase;
    font-size: 3rem;
    border-bottom: 1px solid black;
}

p {
    line-height: 2;
}

/* Icon formatting */
svg {
    transition: all 0.2s ease;
}

.arrow {
    cursor: pointer;
}

.down {
    fill: #fff;
}

.down:hover {
    fill: #B2C8ED;
}

.commute {
    position: absolute;
    bottom: 0;
    transition: all 2s ease-in;
}

.bike {
    transform: skewY(4deg) rotate(-4deg);
    right: 10%;
}

.walk {
    position: absolute;
    bottom: -2px;
    transform: skewY(4deg);
    right: 10%;
    width: 83.33px;
    height: 126px;
    background-image: image-url("walkingsprite.png");
    background-position: -83.33px -252px;
    transition: right 3s linear;
}

.train {
    transform: rotateY(180deg) skewY(4deg) rotate(-4deg);
    left: 10%;    
}

.sleep {
    transition: fill 0.5s ease-out;
    transform: rotateY(180deg);
    left: calc(50% - 50px);
}

.sleep:hover {
    fill: #fff;
    cursor: pointer;
}

.rightdown, .leftdown {
    position: absolute;
    bottom: 0;
}

.rightdown {
    right: 10px;
    transform: skewY(4deg);
}

.leftdown {
    left: 10px;
    transform: skewY(-4deg);
}

.rightdown:hover {
    fill: #B2C8ED;
}

.leftdown:hover {
    fill: #fff;
}

/* Icon animation */
.downhill-left {
    right: 100% !important;
}

.downhill-right {
    left: 100% !important;
}

.no-transition {
    transition-duration: 0s !important;
}

.walking {
    transform: rotate(-4deg);    
    right: 100% !important;
    -webkit-animation: walking 0.7s steps(6) infinite;
    -moz-animation: walking 0.7s steps(6) infinite;
    -o-animation: walking 0.7s steps(6) infinite;
    -ms-animation: walking 0.7s steps(6) infinite;
    animation: walking 0.7s steps(6) infinite;
}

@-webkit-keyframes walking {
    from {
	background-position: 0px -126px;
    }

    to {
	background-position: -500px -126px;
    }
}

@-moz-keyframes walking {
    from {
	background-position: 0px -126px;
    }

    to {
	background-position: -500px -126px;
    }
}

@-ms-keyframes walking {
    from {
	background-position: 0px -126px;
    }

    to {
	background-position: -500px -126px;
    }
}

@-o-keyframes walking {
    from {
	background-position: 0px -126px;
    }

    to {
	background-position: -500px -126px;
    }
}

@keyframes walking {
    from {
	background-position: 0px -126px;
    }

    to {
	background-position: -500px -126px;
    }
}

/* Sections */
header {
    color: #fff;
    padding: 8% 0;
    text-align: center;
}

.filler {
    background: #fff;
    height: 250px;
    margin-bottom: -150px;
}

.intro {
    background: #fff;
    padding-bottom: 200px;
    margin-bottom: -150px;
    position: relative;
    transform: skewY(-4deg);
    z-index: 99;
}

.morning {
    position: relative;
    background: #B2C8ED;    
    transform: skewY(4deg);
    padding-bottom: 200px;
    padding-top: 250px;
    margin-bottom: -150px;
    z-index: 98;
}

.school {
    position: relative;
    padding-bottom: 200px;
    padding-top: 250px;
    margin-bottom: -150px;
    transform: skewY(-4deg);
    background: #fff;
    z-index: 97;
}

.evening {
    position: relative;
    padding-bottom: 200px;
    padding-top: 250px;
    background: #B2C8ED;    
}

footer {
    text-align: center;
    p {
	font-family: 'Abraham';
	border-width: 0;
	padding: 0;
	margin: 0;
	font-size: 1.5rem;
	color: #fff;
    }
}

.container {
    max-width: 1000px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}

.negunskew {
    transform: skewY(-4deg);    
}

.unskew {
    transform: skewY(4deg);
}

/* Image formatting */

img {
    width: 30%;
    height: auto;
}

.right {
    float: right;
    margin-left: 5%;
}

.left {
    float: left;
    margin-right: 5%;
}

.leftp {
    text-align: left;
}

.rightp {
    text-align: right;
}

@media(max-width: 640px) {
    html {
	font-size: 10px;
    }
    .bike {
	right: 25%;
    }
    .train {
	left: 25%;
    }
    .walk {
	right: 25%;
    }
}